@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

body {
  margin: auto;
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 100vh;
  /* UI Properties */
  background: #f6f7f8 0% 0% no-repeat padding-box;
  opacity: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
